header{
>.container{
    background-color: $main_color;
    .row{   
        justify-content: flex-end;
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        color: $text_white;
        column-gap: 20px;
        text-transform: uppercase;
        padding: 5px;
        font-size: 0.8rem;
        }
    }
}
jumbotron{
    img{
        object-fit: cover;
        object-position: top;
        height: 300px;
        width: 100%;
    }
}
nav>.row{
    padding: 10px 0;
    width: 80%;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
    #logo{
        height: 50px;
    }
    li{
        list-style: none;
        text-transform: uppercase;
        display: inline-block;
        letter-spacing: -1px;
        font-weight: bold;
        >a{
            text-decoration: none;
        }
    }
    
    input{
        border: none;
        border-bottom: 2px solid $main_color;
        font-weight: bold;
    }
    ::placeholder{  
        color:$dark_text;
        text-align: right; 
        font-size: 0.8em;
    }
}

